.banner {
  font-size: 1.563rem;
  font-family: "inter";
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  margin-top: 60px;
}

@media (max-width: 767px) {
  .banner {
    font-size: 1.3rem;
    font-family: "inter";
  }
}
