.NoImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 200px;
  background: #f9fafb;
  border-radius: 10px;
  margin-bottom: 100px;
  padding: 20px;
  text-align: center;
}

.noImage {
  display: block;
  margin: auto;
  width: 80px;
  height: 20px;
  margin-bottom: 10px;
}

.description {
  max-width: 768px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #111827;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.authorName {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #111827;
}

.path {
  color: #2e59f3;
  font-size: 14px;
}

.jobTitle {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #6b7280;
}
@media (max-width: 767px) {
  .NoImageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns everything to the left */
    justify-content: flex-start;
    width: 240px;
    height: 470px;
    background: #f9fafb;
    border-radius: 10px;
    margin-bottom: 100px;
    padding: 20px;
    text-align: left; /* Ensures text alignment is left */
    margin: auto;
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ensures text is left-aligned */
    justify-content: flex-start;
    gap: 1px; /* Reduce space between lines */
    margin-top: -10px;
  }
  .description {
    font-size: 17px;
  }

  .path {
    display: none; /* Hides the "/" */
  }

  .authorName {
    font-family: Inter, sans-serif;
    font-weight: 600; /* Bolder for emphasis */
    font-size: 14px;
    color: #111827;
  }

  .jobTitle {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #6b7280;
  }
}
